 
  
  

 
 
 
 body {
  background-color: black;
  
  
  
  color: white;
 }
 
 .main-background {
  background-image: url("space.jpg");
  background-position: top;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
 }
 
 .main-nav
 {
  float: right;
  list-style: none;
  margin-top: 30px;
 }
 .main-nav li
 {
  display: inline-block;
 }
 
  /*body { */
    /*    background-color: black;*/
    /*    font-size: 10px;*/
    /*        }*/
    /*        a {*/
    /*            font-size: 3em;*/
    /*        }*/
            
    /*        a:link, a:visited {*/
    /*            color: white;*/
    /*        }*/
 body 
  a {
   color: white;
   font-size: 2.5em;
   text-decoration: none;
  }
  
   li {
  
    display: inline;
    padding-right: 20px;
    margin-right: 25px;
   }
   
   p {
    color:white ;
   font-size: 2em;
   }
   h1{
    color:white ;
    font-size: 2.5em;
   }
   li{
    color:white ;
    font-size: 1.5em
   }
   h2{
    color:white ;
    font-size: 2em;
   }
  